<div class="row">
	<div class="col-md-8">
		<div class="jumbotron">
		  	<h1>Welcome</h1>
			<p class="text-justify">
				I'm Jon Buckley, a sophomore undergraduate student at Carnegie Mellon University's School for Computer Science. I'm currently pursuing my Bachelor's in Computer Science as well as a minor in Japanese. Presently, I work part-time for <a href="http://www.cube4solutions.com/dev"> Cube4 LLC</a>, as a web developer. I'm most interested in the development of intuitive and well-architected web apps. 
		  	</p>
		</div>
	</div>
	<div class="col-md-4">
		<div style="float:right;">
			<img class="img-responsive img-circle img-thumbnail" style="max-width: 75%" src="images/acorns.jpg"/>
		</div>
	</div>
</div>


