<div class="row">
	<div class="col-md-8">
		<div class="jumbotron">
		  	<h1>Welcome</h1>
			<p class="text-justify">
				I'm Jon Buckley, an undergraduate student at Carnegie Mellon University's School for Computer Science. I'm currently pursuing my Bachelor's in Computer Science and a minor in Japanese with an expected graduation date of December 2016. Although I have experience in disciplines ranging from game development to robotics, I'm most interested in the development of intuitive and well-architected web apps. 
		  	</p>
		</div>
	</div>
	<div class="col-md-4">
		<div style="float:right;">
			<img class="img-responsive img-circle img-thumbnail" style="max-width: 75%" src="images/profile-pic.jpg"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"> Personal Github </h3>
			</div>
			<div class="panel-body">
				<a href="https://github.com/jonbuckley33"> 
					<img style="dispaly:inline" src="images/github.png" height="50" width="150"/> 
				</a>

				<a style="color:black; font-size:2.0em;" href="https://github.com/jonbuckley33">
					<span style="position:relative; top:6px"> /Jon Buckley </span>
				</a>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"> Resume </h3>
			</div>
			<div class="panel-body">

				<a href="pdfs/Resume.pdf"> 
					<span  style="font-size:2.0em;" class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
				</a>

				<a style="margin-left: 10px" href="pdfs/resume-fall-2016.pdf">
					Check out my one-page. 
				</a>
			</div>
		</div>
	</div>
</div>


