<link href="css/home.css" rel="stylesheet">

<div class="jumbotron">
  	<h1>Welcome!</h1>
		<p>
			I am Jon Buckley, an undergraduate student at Carnegie Mellon University's School for Computer Science. This site is meant to introduce some of the projects that I've contributed to (conveniently found <a href="/projects"> here</a>) as well as for me to express a little about myself, personally. So feel free to take a look around, and don't hesitate to <a href="/contact"> get in touch. </a> 
	  </p>
</div>

