

	<div class="row">
    
	<h1 class="header"> Projects </h1>

    <div class="alert alert-info">
        <strong> NOTE </strong> &nbsp; Many of my personal projects' source code is publicly visible on github and can be viewed <a href="https://github.com/jonbuckley33"> on my profile. </a>
    </div>

	<hr/>

        <div class="timeline-centered">

        <!-- CMU Eats -->
        <article class="timeline-entry">
            <div class="timeline-entry-inner">
                <div class="timeline-icon bg-info">
                    <i class="entypo-location"></i>
                </div>

                <div class="timeline-label">
                    <h2>CMU Eats<span> Crowd-Sourced Food Ratings</span></h2>

                    <p>
                    For <a href="http://hackcmu.com"> HackCMU 2013 </a>, three friends and I developed a web app that hosted all of the dining option information for Carnegie Mellon University. This included location data, open hours, and menu information. In addition, users could vote up and down individual food items. This was developed with a PHP backend and MySQL data store. 
                    </p>
                </div>
            </div>

        </article>

        <!-- Project Red -->
        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon bg-warning">
                    <i class="entypo-camera"></i>
                </div>

                <div class="timeline-label">
                    <h2><a href="/projectred">Project Red</a> <span>Javascript Action Platformer</span> </h2>

                    <p>
                    	While working for <a href="http://cube4solutions.com">Cube4</a> one summer, some friends and I worked on a javascript-only action game. We accomplished this leveraging the tools EaselJS and CreateJS. The game was served by a Node JS backend and can be accessed <a href="/projectred"> here </a>.
                    </p>
                </div>
            </div>

        </article>

        <!-- Hanashi -->
        <article class="timeline-entry">

            <div class="timeline-entry-inner">
            	<div class="timeline-icon bg-info">
                    <i class="entypo-camera"></i>
                </div>
           		

                <div class="timeline-label">
                    <h2><a href="#">Hanashi</a> <span>Anonymous Messaging Service</span> </h2>
                    <p>
                    	At <a href="http://mhacks.org">MHacks 2014</a>, my friend and I developed an ephemeral, anonymous messaging service. It was unique in that the service focused chats on conversation rather than on the people, encouraging deeper conversation than the typical anonymous chat. This service was developed on top of Node JS and ran as a mobile-compliant web app.
                    </p>
                </div>
            </div>

        </article>

        <!-- Pong VR -->
        <article class="timeline-entry">

            <div class="timeline-entry-inner">
                <div class="timeline-icon bg-success">
                    <i class="entypo-camera"></i>
                </div>
                

                <div class="timeline-label">
                    <h2><a href="#">Pong VR</a> <span>Google Cardboard Game</span> </h2>
                    <p>
                        In the summer of 2016, I developed an interest in Virtual Reality. After attending a VR fair in Los Angeles (VRLA),
                        I decided I would try my hand at some VR development. The result was a pong-esque game for the Google Cardboard that I developed in Unity. You can find the source code <a href="https://github.com/jonbuckley33/PongVR"> here. </a>
                    </p>
                </div>
            </div>

        </article>

        <article class="timeline-entry">

            <div class="timeline-entry-inner">

                <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                    <i class="entypo-flight"></i> +
                </div>

            </div>

        </article>
    </div>
